# Dependencies
node_modules/

# Build output
.next/
build/
dist/
out/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel/

# Certificates (local dev)
certificates/

.vercel
